/* @import url('https://fonts.googleapis.com/css2?family=Manrope&family=Playfair+Display&display=swap');

* {
  font-family: 'Playfair Display', serif;
  font-size: 1.03rem;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(250, 246, 236);
}


#icons-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
  margin: 5px;
} */
