.countryenergymix {
  /* margin: 50px; */
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* background-color: lightslategray; */
  border-radius: 5px;
}

#guess {
  width: 15rem;
  height: 3rem;
  border-radius: 4px;
  border: none;
  background-color: #e9da57;
  font-weight: bold;
  font-size: 1.4rem;
  cursor: pointer;
  margin-top: 10px;
}

#link-smard {
  width: 15rem;
  height: 3rem;
  border-radius: 4px;
  border: none;
  background-color: #e9da57;
  font-weight: bold;
  font-size: 1.4rem;
  cursor: pointer;
  margin-top: 10px;
}
