.iconbar {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  padding: 15px ;
  /* margin: 5px; */
  height: 65vh;
  /* border: 2px solid lightblue; */
}

hr {
  margin-bottom: -1px;
}

.energy-icon {
  /* border: 2px solid lightblue; */
  border-radius: 4px;
  width: 70px;
  padding: 10px 20px;
  margin: 0px;
  margin-bottom: 5px;
  cursor: pointer;
  background: #f09819; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #edde5d,
    #f09819
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to top,
    #edde5d,
    #f09819
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}


#name-energy-source {
  margin-bottom: 5px;
}

button {
  width: 100px;
  height: 35px;
  border-radius: 4px;
  margin-top: -10px;
  border: none;
  cursor: pointer;
}
